<div class="container col-md-6 col-sm-12">
    <p>Welcome your email is <%= email %></p>
    <a href="/logout" class="btn btn-danger">Logout</a>
    <br>
    <br>

    <!-- Form for adding a task -->
    <h4>Add New Task</h4>
    <form action="/dashboard" method="post">
        <input type="hidden" name="email" value="<%= email %>">
        <label for="name" class="form-label">Task Name: </label>
        <input type="text" class="form-control" name="name" id="name">  
        <label for="desc" class="form-label">Task Description: </label>
        <input type="text" class="form-control" name="desc" id="desc">  
        <br>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
    <br>

    <!-- User's Task List -->
    <%if (tasks.length > 0) { %>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
          <tr>
            <td><%= tasks[i].name %></td>
            <td><%= tasks[i].desc %></td>
            <td><a href="/delete/<%= tasks[i].id %>" class="btn btn-danger">Delete</a></td>
          </tr>
          <% } %>
        </tbody>
    </table>
    <% } else{ %>
    <small>You have not added any task yet! Add your new task right away.</small>
    <% } %>
</div>